html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 123px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
h1,
h2,
h3,
h4,
body {
  font-family: 'Open Sans', sans-serif;
}
.large {
  font-family: 'Open Sans', sans-serif;
}
.container-fluid {
  padding: 0px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.header .header_logo {
  padding: 33px 0px 10px;
  text-align: center;
  margin-bottom: 10px;
}
.header .header_nav {
  background-color: #1f1f1f;
}
.header .header_link {
  text-transform: uppercase;
  color: #fff;
  transition: 0.1s ease-out 0.1s;
}
.header .header_link:hover {
  color: #afa376;
}
.header .header_underline {
  height: 35px;
  background-color: #e6e6e6;
  margin-bottom: 30px;
}
/*  SLIDER */
.slider_img {
  height: 445px;
  width: 100%;
  position: relative;
}
.carousel-control {
  display: none;
}
.carousel-indicators {
  bottom: 1px;
  left: 67px;
}
.carousel-indicators li {
  margin: 4px;
  border: 1px solid #979a9b;
  background-color: rgba(151, 154, 155, 0.7);
}
.carousel-indicators .active {
  margin: 4px;
}
.carousel-caption {
  left: -39%;
  right: 20%;
  padding-bottom: 30px;
  top: 0px;
  font-size: 26px;
}
.carousel_button {
  position: absolute;
  bottom: 10px;
  right: -100px;
  background-color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: #1f1f1f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 30px;
  transition: 0.1s ease-out 0.1s;
}
.carousel_button:hover {
  background-color: #afa376;
}
/* AVATAR */
.author_block {
  height: 445px;
  width: 100%;
  padding: 30px;
  text-align: center;
  border: 1px solid #1f1f1f;
}
.author_block .author_avatar_wrap {
  height: 160px;
  width: 160px;
  border-radius: 100%;
  border: 2px solid #afa376;
  margin: 30px auto;
}
.author_block .author_avatar_wrap .author_avatar {
  width: 100%;
}
.author_block .author_name {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 24px;
}
.author_block .author_description {
  font-family: 'Open Sans', sans-serif;
  color: #96a6a6;
  margin-bottom: 50px;
  letter-spacing: 4px;
}
.author_block .author_social {
  list-style: none;
  padding-left: 0px;
}
.author_block .author_social .author_social_item {
  display: inline-block;
}
.author_block .author_social .author_social_item .author_social_link i {
  text-decoration: none;
  padding: 0px 15px;
  color: #000;
  transition: 0.1s ease-out 0.1s;
}
.author_block .author_social .author_social_item .author_social_hidden {
  display: none;
}
.author_block .author_social .author_social_link > i:hover {
  color: #afa376;
}
/* LINE */
.line_img_wrap {
  overflow: hidden;
  width: 190px;
  height: 190px;
  margin: 0;
}
.line_img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.line_item {
  padding: 10px;
  height: 100%;
  text-align: center;
}
.line_item .line_item_style {
  color: #afa376;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 20px;
}
.line_item .line_item_name {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}
.line_item .line_item_button {
  color: #afa376;
  background-color: transparent;
  border: 1px solid #afa376;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.1s ease-out 0.1s;
}
.line_item .line_item_button:hover {
  background-color: #afa376;
  color: #fff;
}
/* POPULAR */
.popular {
  padding: 20px 0px;
  text-align: center;
}
.popular .popular_head {
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.popular_img_wrap {
  width: 100%;
  height: 300px;
  margin: 0;
}
.popular_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}
.popular_img:hover {
  opacity: 0.6;
}
.popular_item {
  margin: 10px 0px;
}
.popular_img {
  width: 100%;
  cursor: pointer;
}
.popular_name {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  padding: 10px 0px;
  margin-bottom: 0px;
  text-align: left;
}
.popular_description {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  text-align: left;
}
.popular_button {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 17px 44px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #afa376;
  border: 1px solid #afa376;
  transition: 0.1s ease-out 0.1s;
}
.popular_button:hover {
  background-color: #fff;
  color: #afa376;
}
/* FAVORITES*/
.content {
  padding: 40px 0px;
  padding-bottom: 123px;
}
/* ONE PIC*/
.one_pic {
  padding: 20px 0px;
}
.one_pic .one_pic_name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.one_pic .one_pic_descr_block {
  padding: 10px;
}
.one_pic .one_pic_descr_block p {
  font-family: 'Open Sans', sans-serif;
}
.one_pic .add_button {
  margin-bottom: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #afa376;
  border: 1px solid #afa376;
  transition: 0.1s ease-out 0.1s;
}
.one_pic .add_button:hover {
  background-color: #fff;
  color: #afa376;
}
.one_pic .line {
  height: 1px;
  width: 100%;
  background-color: #afa376;
}
.one_pic .one_pic_description {
  padding: 10px 0px;
}
.one_pic_main_img_wrap {
  width: 100%;
  /* Ширина области */
  height: 300px;
  /* Высота области */
  margin: 0;
  /* Обнуляем отступы */
}
.one_pic_main_img_wrap img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
  /* Вписываем фотографию в область */
  padding-bottom: 10px;
}
.prev_btn {
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 8px 12px;
}
/* GALLERY*/
.gallery {
  padding: 10px 0px 50px 0px;
}
.gallery .gallery_length {
  margin-top: -30px;
}
.gallery .gallery_filter {
  list-style: none;
  padding-left: 0px;
  text-align: left;
}
.gallery .gallery_filter .gallery_group_name {
  font-size: 24px;
}
.gallery .gallery_filter .gallery_filter_item {
  padding: 6px 0px;
}
.gallery .gallery_filter .gallery_filter_link {
  padding: 10px 30px 10px 10px;
  transition: 0.1s ease-out 0.1s;
  text-decoration: none;
  width: 100%;
  color: #000;
  cursor: pointer;
}
.gallery .gallery_filter .gallery_filter_link:hover {
  background-color: #afa376;
  border-radius: 3px;
  color: #fff;
}
.gallery .gallery_item {
  display: inline-block;
  width: 300px;
  padding: 20px;
}
.gallery .gallery_button {
  text-align: center;
  display: block;
  margin: 0 auto;
}
/* CONTACTS*/
.contacts {
  padding: 20px 0px 50px;
}
.section_name {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 10px;
}
.contacts_block {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}
.contacts_block .contacts_description {
  color: #879999;
  font-size: 13px ;
  padding-bottom: 20px;
}
.contacts_block .contacts_item_block {
  padding: 10px 0px;
}
.contacts_block .contacts_type {
  text-transform: uppercase;
  font-size: 15px;
  color: #879999;
  margin-bottom: 0px;
}
.contacts_block .contact_item {
  color: #000;
  font-size: 20px;
}
/* FORM*/
.form {
  width: 470px;
}
.form textarea,
.form input[type="text"],
.form input[type="email"] {
  background-color: #f6f6f6;
  color: #879999;
  padding: 10px 30px;
  border: 1px solid #9fa2a5;
}
.form input::-moz-placeholder {
  color: #9fa2a5;
  font-size: 14px;
}
.form .form_item_top {
  display: inline-block;
  width: 45%;
  margin: 0px 10px 20px 10px;
}
.form .form_item_textarea {
  margin: 10px;
  width: 100%;
}
.form .form_item_icon {
  position: absolute;
  top: 15px;
  padding-left: 10px;
  color: #879999;
}
.form textarea {
  overflow: auto;
  width: 100%;
  height: 175px;
  resize: none;
}
.form .popular_button {
  margin-left: 10px;
}
/* FOOTER */
.footer {
  background-color: #1f1f1f;
  color: #afa376;
  height: 123px;
  padding: 20px;
}
.footer .footer_item {
  text-decoration: none;
}
.footer .footer_item_link {
  text-decoration: none;
  color: #afa376;
  transition: color 0.5s ease-out 0.5s;
}
.footer .footer_item_link:hover {
  color: #fff;
}
.footer i {
  padding-right: 10px;
}
.footer .footer_logo {
  text-align: right;
}
.footer .footer_img_wrap {
  padding: 10px;
}
