<div class="gallery" ng-controller="GalleryCtrl">
    <h5 class="section_name"> Галерея </h5>
    <div ng-show="onlyOne" class="row">
        <div class="col col-xs-2">
            <ul class="gallery_filter">
                <p class="gallery_group_name">Техника  </p>
                <li class="gallery_filter_item"><a   class="gallery_filter_link">масло </a></li>
                <li class="gallery_filter_item"><a class="gallery_filter_link">акварель </a></li>
                <li class="gallery_filter_item"><a class="gallery_filter_link">холст</a></li>
                <li class="gallery_filter_item"><a class="gallery_filter_link">разное </a></li>


            </ul>
            <ul class="gallery_filter">
                <p class="gallery_group_name"> Тематика </p>
                <li class="gallery_filter_item"><a ng-click="reset('')" class="gallery_filter_link">Все </a></li>
                <li class="gallery_filter_item"><a ng-click="checkFilter('пейзаж')" class="gallery_filter_link">пейзаж </a></li>
                <li class="gallery_filter_item"><a ng-click="checkFilter('люди')" class="gallery_filter_link"> люди</a></li>
                <li class="gallery_filter_item"><a ng-click="checkFilter('цветы')"  class="gallery_filter_link"> цветы</a></li>
                <li class="gallery_filter_item"><a  ng-click="checkFilter('коты')" class="gallery_filter_link"> коты </a></li>
                <li class="gallery_filter_item"><a  ng-click="checkFilter('Одесса')" class="gallery_filter_link"> Одесса</a></li>

            </ul>
        </div>
        <div class="col col-xs-10" ng-show="onlyOne" ng-controller="popularController">
            <pop-work-item
                    class="gallery_item" ng-repeat="item in popItem

                    | filter: { description : check}
                    | limitTo:limitValue
"

            >

            </pop-work-item>
            <button ng-show="onlyOne" class="popular_button" ng-click="more()">Загрузить больше работ</button>

        </div>

    </div>
    <div ng-show="!onlyOne"  class="one_pic" ng-controller="onePicCtrl" >
        <button ng-show="!onlyOne" ng-click="prev()" class="popular_button prev_btn"> <- Назад</button>

        <p class="one_pic_name">{{name}}</p>

        <div class="row">
            <div class="col col-xs-3">
                <div class="one_pic_main_img_wrap">
                    <img ng-src="{{img}}">
                </div>
                <div class="one_pic_little_pics">
                    <div class="row">
                        <img class="col col-xs-4" ng-src="tree.jpeg">
                        <img class="col col-xs-4" ng-src="tree.jpeg">
                        <img class="col col-xs-4" ng-src="tree.jpeg">
                    </div>

                </div>
            </div>
            <div class="col col-xs-9 one_pic_descr_block">
                <p class="one_pic_size"> {{size}} </p>
                <p class="one_pic_material"> {{materials}} </p>
                <button class="add_button" ng-click="addDataFunc()">В избранное</button>

                <div class="line"></div>
                <div class="one_pic_description">
                    {{description}}
                </div>
            </div>
        </div>


    </div>
</div>
