
<section class="one_pic" >
    <p class="one_pic_name">{{id}}</p>

    <div class="row">
        <div class="col col-xs-3">
            <div class="one_pic_main_img_wrap">
                <img ng-src="tree.jpeg">
            </div>
            <div class="one_pic_little_pics">
                <div class="row">
                    <img class="col col-xs-4" ng-src="tree.jpeg">
                    <img class="col col-xs-4" ng-src="tree.jpeg">
                    <img class="col col-xs-4" ng-src="tree.jpeg">
                </div>

            </div>
        </div>
        <div class="col col-xs-9 one_pic_descr_block">
            <p class="one_pic_size"> {{info}} </p>
            <p class="one_pic_material"> {{item.name}} </p>
            <button class="add_button">local</button>
            <button ng-click="$storage.x = $storage.x + 1">{{$storage.x}}</button> + <button ng-click="$storage.y = $storage.y + 1">{{$storage.y}}</button> = {{$storage.x + $storage.y}}
            <div class="line"></div>
            <div class="one_pic_description">
                Lorem
            </div>
        </div>
    </div>


</section>